<strong>Fala {{ user }}, tudo bom?</strong> <br />
<p>Temos uma ótima noticia pra você, tens um novo inscrito no seu meetup:</p>
<p>
  <strong>Meetup: {{ title }}</strong> <br />
  <strong>Data: {{ date }}</strong> <br />

  <br />

  <small>
    Esperemos que tenham uma ótima troca de experiência!
  </small>
</p>